<div class="wrapper">
  <header class="header-2 skew-separator">
   
    <div class="page-header">
      <div
        class="page-header-image"
        style="background-image: url('assets/img/ill/p8.svg')"
      ></div>
      <div class="container pt-300">
        <div class="row">
          <div class="col-md-8 mx-auto text-center">
            <h2 class="display-2">WinNsalla7</h2>
          </div>
        </div>
        <div class="row">
          <div class="floating-box bg-default">
            <div class="box text-center">
              <div
                class="icon icon-shape bg-success icon-xl rounded-circle text-white"
              >
                <i class="ni ni-spaceship"> </i>
              </div>
            </div>
            <h2 class="lead text-white p-5 text-center">
              Our BH Assurance team has built this platform to make it easier for you,  <br> our beloved customers, 
              to declare and track a claim on the spot, 
              as well as to find a garage and a marketplace to seek all the spare parts you require.
            </h2>
          </div>
        </div>
      </div>
    </div>
  </header>
   
    <div class="section features-1">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto text-center">
            
            <h3 class="display-3">Our Services</h3>
            
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="info">
              <div
                class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle center"
              >
                <img src="assets/img/icon/mechanic-icon.png" class="anaghim"/>
              </div>
              <h6 class="info-title text-uppercase text-primary text-center">
                Mechanic section
              </h6>
              <p class="description opacity-8 text-center"> <br>
                Mechanic Area make it easier for you to find the contact of our qualified 
                mechanics.
              <br><br><br><br>
              </p>
              <div class="btn-wrapper mt-5">
                <a
                  class="btn btn-2 btn-icon mb-3 mb-sm-0"
                  routerLink="/mechanic"
                >
                  <span class="btn-inner--icon icon-x">
                    <i class="fas fa-cog"> </i>
                  </span>
                  <span class="btn-inner--text"> Mechanic </span>
                </a>
                </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <div
                class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle center"
              >
              <img src="assets/img/icon/claim.png" class="anaghim"/>
              </div>
              <h6 class="info-title text-uppercase text-success text-center ">
                Claim declaration and tracking section
              </h6>
              <p class="description opacity-8 text-center">
                Claim declaration and tracking section is where you can find all your previous claims in order to follow
                their settlements or declare a new one with a single click.
              </p>
              <div class="btn-wrapper mt-5">
                <a
                  class="btn btn-3 btn-icon mb-3 mb-sm-0"
                  routerLink="/damage"
                >
                  <span class="btn-inner--icon icon-x">
                    <i class="fas fa-file-text"> </i>
                  </span>
                  <span class="btn-inner--text"> Claims </span>
                </a>
                </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <div
                class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle center"
              >
              <img src="assets/img/icon/online-shop.png" class="anaghim"/>
              </div>
              <h6 class="info-title text-uppercase text-warning text-center">
                spare parts market section
              </h6>
              <p class="description opacity-8 text-center">
                Spare parts market is a marketplace where you can find the spare parts you are 
                searching for with a reasonable price.<br><br>
              </p>
              <div class="btn-wrapper mt-5">
                <a
                  class="btn btn-1 btn-icon mb-3 mb-sm-0"
                  routerLink="/home"
                >
                  <span class="btn-inner--icon icon-x">
                    <i class="fas fa-shopping-cart"> </i>
                  </span>
                  <span class="btn-inner--text"> Purchase </span>
                </a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
  