.new-class{
    position: fixed;
    top: 100px;
    right: 100px;
    left: 100px;
}

.anaghim {
    vertical-align: middle;
    border-style: none; // Remove the border on images inside links in IE 10-.
    width: 60px;
    height: 60px;
  }
  .btn-1{
    color: #fb6340 !important;
  }
  .btn-2{
    color: #5e72e4 !important;
  }

  .btn-3{
    color: #2dce89 !important;
  }

  .center {
    display: block;
    margin-left: 110px;
    margin-right: auto;

  }
  .icon-x{
    padding-bottom: 15px;
    padding-left: 20px;
  }
  .btn-outline-pp:hover {
    color: #fff;
    background-color: #fb6340;
    border-color: #fb6340;
}