<!-- <div class="wrapper">
    <div class="page-header page-header-small header-filter">
        <div
          class="page-header-image"
          style="background-image: url('assets/img/pages/nicolas-prieto.jpg');"
        ></div>
        <div class="content-center">
          <div class="row">
            <div class="col-md-6 mx-auto text-center">
              <h1 class="title text-white">
                BH
              </h1>
              
            </div>
          </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="card card-blog bg-default">
                        <img
                            class="img pattern rounded"
                            src="assets/img/ill/p7.svg"
                        />
            
                        <div class="card-body">
                            <h4 class="display-4 text-center text-white">Add Mechanic</h4>
                        
                            <a class="btn btn-link text-white px-0" href="javascript:;">
                                <a routerLink="addMechanic" class="font-gotham-bold text-black-color cursor-pointer">
                            Add
                            </a>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card card-blog bg-default">
                        <img
                            class="img pattern rounded"
                            src="assets/img/ill/p22.png"
                        />
            
                        <div class="card-body">
                            <h4 class="display-4 text-center text-white">Add Manager</h4>
                        
                            <a class="btn btn-link text-white px-0  " href="javascript:;">
                            add
                            </a>
                         </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                <div class="card card-blog bg-default">
                <img
                    class="img pattern rounded"
                    src="assets/img/ill/p7.svg"
                />
    
                <div class="card-body">
                    <h4 class="display-4 text-center text-white">Add Supplier</h4>
                    <p class="lead text-white mt-0">
                    
                    <a class="btn btn-link text-white px-0" href="javascript:;">
                    add
                    </a>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
