.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 88%;
    width: 100%;
    background-color: #fb6340 ;
    opacity: 0.3;
    z-index: 1;
}
header {
    margin-top: 100px;
    margin-left: 90px;

}
.head{
    display: flex;
    flex-wrap: wrap;
    
}