.headroom--not-top .nav-link-inner--text {
    color : whitesmoke !important;
  }
  .nav-link-inner--text {
    color : #32325d !important;
  }
  .headroom--not-top img#brand-logo {
    content : url("C:/Users/molka/Desktop/moune front v11/frantend/src/assets/img/BhLogo-light1.png") !important;
     
   }