<div class="wrapper skew-separator" >
    <div class="overlay"></div>
    
    <div class="container p-3">
     
      
     <header class="header-4" >
     <div class="header-wrapper" >
       <div class="head" >
     <h3 style="color: #172b4d !important;">All Our Suppliers</h3> 
     <div class="col-6 text-end" >
      <button class="btn btn-primary" (click)="createSupplierRequest()" style="margin-left: 400px; background-color: #fb6340;
      border-color: #fb6340;" *ngIf="currentManager?.userId">add Supplier</button>
    </div>
     </div></div>
    </header> 
    
     <div class="d-flex flex-wrap"> 
       <div
        *ngFor="let item of supplierList; index as ind"
        class="card  card-piece col-md-6 info orange-hover-orange " style="width: 300px; background-color: whitesmoke; ">
        
         <ul>
           <li><b> First Name : </b> {{item.firstName}}</li>
           <li><b> Last Name : </b>{{item.lastName}}</li>
           <li><b>Cin : </b> {{item.cin}}</li>
           <li><b> address : </b>{{item.address}}</li>
           <li><b>Phone Number : </b>{{item.phoneNumber}}</li>
           <li><b>Email : </b> {{item.email}}</li>
         </ul>
         
   
   
         <div class="col-12" >
          <button class="btn btn-outline-orange w-100  fa fa-trash" (click)="deleteSupplier(item)"
          *ngIf="currentManager?.userId">
            Delete
          </button>
        </div>
     
         </div></div>
   
   
   
   </div></div>
   
 
   
   
   
   <app-user-save [supplier] = "selectedSupplier" (save)="saveSupplierWatcher($event)"></app-user-save>