<div class="wrapper skew-separator" >
 <div class="overlay"></div>
 
 <div class="container p-3">
  
  <header class="header-4" *ngIf="currentSupplier?.userId">
  <div class="header-wrapper" >
    <div class="head">
  <h3>Your Offers</h3> 
  <div class="col-6 text-end" >
  <button class="btn btn-primary" (click)="createPieceRequest()" style="margin-left: 500px;">add piece</button>
</div></div></div>
 </header> 
 <hr>
  
    <div class="alert alert-danger" *ngIf="errorMessage">
      {{errorMessage}}
  </div>
  <div class="alert alert-success" *ngIf="infoMessage">
    {{infoMessage}}
  </div>
  <div class="d-flex flex-wrap"> 
    <div
     *ngFor="let item of pieceList; index as ind"
     class="card  card-piece col-md-6 info orange-hover-orange" style="width: 300px; background-color: #f8f7f7; ">
      <div class="card-body">
          <h5 class="card-title text-uppercase " >{{item.reference}}</h5>
      </div>
      <ul>
        <li><b>  Description : </b> {{item.description}}</li>
        <li><b> Family : </b>{{item.family}}</li>
        <li><b> Car Brand : </b>{{item.carBrand}}</li>
        <li><b>Car Model : </b>{{item.carModel}}</li>
        <li><b> Quantity :  </b> {{item.quantity}}</li>
      </ul>
      


      <div class="row mt-3">
        <div class="col-6 mt-2 ps-4">
          
          {{item.price | currency: 'TND'}}
          
        </div>
          <div class="col-6" *ngIf="!currentSupplier?.userId">
            <button class="btn btn-outline-pp w-100  fas fa-shopping-cart" (click)="purchase(item)">
              Buy
            </button>
          </div>
          <div class="col-6" *ngIf="currentSupplier?.userId">
            <button class="btn btn-outline-pp w-100  fa fa-trash" (click)="deletePiece(item)">
              Delete
            </button>
          </div>
        </div>
  
      </div></div>



</div></div>

<hr><hr><hr>



<app-piece-save (save)="savePieceWatcher($event)"></app-piece-save>